@font-face {
  font-family: cairo;
  src: url(../font/Cairo-Regular.ttf); }

@font-face {
  font-family: cairo_medium;
  src: url(../font/Cairo-Medium.ttf); }

@font-face {
  font-family: cairo_light;
  src: url(../font/Cairo-Light.ttf); }

@font-face {
  font-family: cairo_semibold;
  src: url(../font/Cairo-SemiBold.ttf); }

@font-face {
  font-family: cairo_bold;
  src: url(../font/Cairo-Bold.ttf); }

html {
  font-size: 10px; }

body {
  background: #15002c;
  color: white;
  font-family: cairo; }

body, * {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: cairo; }

ul, ol {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, p, span {
  margin-bottom: 0; }

.rounded-1 {
  border-radius: .6rem !important; }

.fw-lighter {
  font-family: cairo_light; }

.fw-light {
  font-family: cairo_medium; }

.fw-bold {
  font-family: cairo_semibold; }

.fw-bolder {
  font-family: cairo_bold; }

.text-info {
  color: #00ffff; }

.bg-info {
  background-color: #00ffff; }

.text-warning {
  color: #7e758b !important; }

.text-lg {
  font-size: 4.8rem; }
  @media only screen and (max-width: 1400px) {
    .text-lg {
      font-size: 4rem; } }
  @media only screen and (max-width: 1200px) {
    .text-lg {
      font-size: 3.5rem; } }

.btn__line {
  border: 2px solid #00ffff;
  border-radius: 1rem;
  width: 40px;
  padding: 4px 0px;
  margin: 10px 0px; }

.display-6 {
  font-size: 2rem; }

.display-5 {
  font-size: 2.5rem; }

.display-4 {
  font-size: 4rem; }

.font_base {
  font-size: 1.7rem; }

.mb-6 {
  margin-bottom: 8rem; }

.px-7 {
  padding-left: 17.5rem;
  padding-right: 17.5rem; }

.shadow_sky {
  -webkit-box-shadow: rgba(0, 255, 255, 0.6) 0px 0px 12px;
          box-shadow: rgba(0, 255, 255, 0.6) 0px 0px 12px; }

.text-black {
  color: #13002a; }

.bg-black {
  background-color: #13002a !important; }

.move {
  width: 5rem; }

.w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.mini_text {
  font-size: 2.5rem; }

.px-6 {
  padding-left: 5rem;
  padding-right: 5rem; }

.comments_img {
  width: 13rem;
  margin-top: -5rem; }

.mb-99 {
  margin-bottom: 7.5rem; }

.pb-99 {
  padding-bottom: 7.5rem; }

.mb-65 {
  margin-bottom: 6.5rem; }

.banner__logo {
  width: 25rem; }

.banner__ceo {
  width: 45vw;
  margin-left: -3rem; }

.package__frame {
  height: 50rem; }
  .package__frame iframe {
    border-radius: 5px; }

.package__logo {
  width: 35rem; }

.package__prize > h4 span {
  font-size: 2.6rem; }

.package__7 {
  width: 100rem; }
  .package__7 img {
    width: 90rem; }

.package_col {
  width: 18.2rem;
  text-align: center;
  margin-right: 6rem;
  margin-top: -4rem; }

.package_col_3 {
  width: 20rem;
  text-align: center;
  margin-top: -4rem; }

.package_col_2 {
  width: 25rem;
  text-align: center;
  margin-top: 2rem; }

.template__img {
  width: 86%;
  margin: auto; }

.tip__list ul li, .tip__list--green ul li {
  position: relative;
  margin-left: 6rem;
  margin-bottom: 5px; }
  .tip__list ul li::before, .tip__list--green ul li::before {
    position: absolute;
    top: 50%;
    left: -22px;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    content: "";
    background-image: url(../images/red_tip.svg);
    background-repeat: no-repeat;
    background-size: 1.2rem;
    width: 1.2rem;
    height: 1.2rem; }

.tip__list--green ul > li::before {
  background-image: url(../images/green_tip.svg); }

.tip__layout {
  border: 1px solid white;
  padding: 2rem 3rem;
  border-radius: 1.4rem; }
  .tip__layout .line_blue {
    height: 2px;
    width: 100%;
    background-color: #00ffff;
    border-radius: 5px; }
  .tip__layout .tab {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    border: 2px solid #00ffff;
    margin-right: 8px; }

.chats .owl-nav {
  position: absolute;
  top: -100px;
  right: 0;
  margin-top: 0 !important; }
  .chats .owl-nav button {
    margin: 0px 20px !important;
    width: 3.5rem !important;
    height: 3.5rem !important;
    overflow: hidden;
    border-radius: 50% !important;
    position: relative;
    background-color: transparent !important;
    border: 1px solid white !important; }
    .chats .owl-nav button span {
      position: absolute;
      top: -54%;
      left: -40%;
      width: 6rem !important;
      height: 6rem !important;
      padding: 0px 20px !important;
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-align: center !important;
          -ms-flex-align: center !important;
              align-items: center !important;
      -webkit-box-pack: center !important;
          -ms-flex-pack: center !important;
              justify-content: center !important;
      font-family: cairo_light !important;
      font-size: 40px !important; }

.info__card {
  width: 25rem; }

.info__img {
  text-align: center; }

.info__content {
  text-align: center; }

.filter__search {
  padding: 1.5rem 3rem;
  border: 3px solid #00ffff !important;
  font-size: 2rem;
  font-family: cairo_medium;
  background-color: transparent !important;
  color: #00ffff !important; }
  .filter__search::-webkit-input-placeholder {
    color: #7e758b !important; }
  .filter__search:-ms-input-placeholder {
    color: #7e758b !important; }
  .filter__search::-ms-input-placeholder {
    color: #7e758b !important; }
  .filter__search::placeholder {
    color: #7e758b !important; }

.filter__layout {
  position: relative; }

.filter__icon {
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2.5rem; }

.filter__item p {
  padding: 4px 0px;
  width: 100%; }

.filter__lists {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 23rem 23rem 23rem 23rem;
      grid-template-columns: 23rem 23rem 23rem 23rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media only screen and (max-width: 1200px) {
    .filter__lists {
      -ms-grid-columns: 23rem 23rem 23rem;
          grid-template-columns: 23rem 23rem 23rem; } }
  @media only screen and (max-width: 767px) {
    .filter__lists {
      -ms-grid-columns: 23rem 23rem;
          grid-template-columns: 23rem 23rem; } }
  @media only screen and (max-width: 500px) {
    .filter__lists {
      overflow: hidden; } }

.faqs .accordion-item,
.faqs .accordion-header button {
  background-color: #15002c !important; }

.faqs .accordion-header button {
  font-size: 3rem;
  color: white;
  border: 3px solid #00ffff;
  border-radius: 1.5rem !important;
  padding-left: 4rem; }
  .faqs .accordion-header button:focus {
    -webkit-box-shadow: none;
            box-shadow: none; }
  .faqs .accordion-header button::after {
    background-image: url(../images/down.png) !important;
    width: 2.5rem;
    height: 2.5rem;
    background-size: 2.5rem; }

.faqs .accordion-item {
  margin-bottom: 1rem; }

.faqs .accordion-body {
  margin: 2rem 0rem;
  font-size: 1.8rem;
  color: white; }

@media only screen and (max-width: 991px) {
  .banner__ceo {
    width: 60vw;
    margin: 3rem auto; }
  .move {
    margin: auto; }
  .info__card {
    width: 20rem; }
  .package__7 {
    width: 70rem; }
    .package__7 img {
      width: 60rem; }
  .package_col {
    width: 15rem;
    margin-right: 2rem; }
    .package_col p {
      font-size: 1.6rem; }
  .package_col_2 {
    width: 15rem; }
    .package_col_2 p {
      font-size: 1.6rem; }
  .package_col_3 {
    width: 13rem; }
    .package_col_3 p {
      font-size: 1.5rem; }
    .package_col_3 div {
      font-size: 1.3rem; } }

@media only screen and (max-width: 991px) {
  .package__frame {
    height: 35rem; } }

@media only screen and (max-width: 700px) {
  .package__7 {
    display: none; } }

@media only screen and (max-width: 767px) {
  .info__card {
    margin: 2rem auto; }
  .nav {
    background-color: #130028; }
  .banner__ceo {
    width: 65vw; }
  .package__prizing .btn {
    padding-left: 6rem;
    padding-right: 6rem; }
  .tip__layout {
    border: none; }
  .info .mobo {
    margin-bottom: 10px !important; } }

@media only screen and (max-width: 600px) {
  body {
    padding: 0px 13px; } }
/*# sourceMappingURL=main.css.map */