
// VARIABLES 
$theme : #15002c;
$sky :   #17ECF7;

@font-face {
  font-family: cairo;
  src: url(../font/Cairo-Regular.ttf);
}
@font-face {
  font-family: cairo_medium;
  src: url(../font/Cairo-Medium.ttf);
}
@font-face {
  font-family: cairo_light;
  src: url(../font/Cairo-Light.ttf);
}
@font-face {
  font-family: cairo_semibold;
  src: url(../font/Cairo-SemiBold.ttf);
}
@font-face {
  font-family: cairo_bold;
  src: url(../font/Cairo-Bold.ttf);
}
@mixin media__max($value:0,$unit:px) {
  @media only screen and (max-width:$value + $unit) {
    @content;
  }
}
html {
  font-size: 10px;
}

body {
  background: $theme;
  color: white;
  font-family: cairo;
  // position: relative;
  // overflow: hidden;
  // &::after {
  //   position: absolute;
  //   top: -200px;
  //   right: -180px;
  //   content: "";
  //   width: 800px;
  //   height: 800px;
  //   background-image: url(../images/effects_light.svg);
  //   background-repeat: no-repeat;
  //   background-size: 100%;
  //   background-position: left center;
  // }
}
body,* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cairo;
}
ul,ol {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p,span {
  margin-bottom: 0;
}
.fw-lighter {
  font-family: cairo_light;
}
.fw-light {
  font-family: cairo_medium;
}
.fw-bold {
  font-family: cairo_semibold;
}
.fw-bolder {
  font-family: cairo_bold;
}
.text-info {
  color: $sky;
}
.bg-info {
  background-color: $sky;
}
.text-lg { 
  font-size: 5rem;
  @include media__max(1400){
    font-size: 4rem;
  }
  @include media__max(1200){
    font-size: 3.5rem;
  }
}

.btn__line {
  border: 2px solid $sky;
  border-radius: 1rem;
  width: 40px;
  padding: 4px 0px;
  margin: 10px 0px;
}
.display-6 {
  font-size: 2rem;
}
.display-5 {
  font-size: 2.5rem;
}
.mb-6 {
  margin-bottom: 8rem;
}
.move {
  width: 5rem;
}
// BANNER 
.banner {
  &__logo {
    width: 25rem;
  }
  &__ceo {
    width: 45vw;
    // width: 85rem;
    margin-left: -3rem;
  }
}
// package 
.package {
  &__frame {
    height: 55rem;
    iframe {
      border-radius: 5px;
    }
  }
}










//  ALL MEDIA 
@include media__max(991){
  .banner__ceo {
    width: 60vw;
    margin: 3rem auto;
  }
  .move {
    margin: auto;
  }
}